* {
	box-sizing: border-box;
}
:root {
	--primary: #242424;
	--secondary: #2f2f2f;
	--contrasting: #efe9f4;
}
:root,
html,
body,
#app {
	height: 100%;
	margin: 0;
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--secondary);
}
