* {
	box-sizing: border-box;
}
:root {
	--primary-rgb: 36, 36, 36;
	--secondary-rgb: 47, 47, 47;
	--contrasting-rgb: 240, 235, 245;
	--contrasting-dim-rgb: 133, 133, 133;

	--primary: rgb(var(--primary-rgb));
	--secondary: rgb(var(--secondary-rgb));
	--contrasting: rgb(var(--contrasting-rgb));
	--contrasting-dim: rgb(var(--contrasting-dim-rgb));
}
:root,
html,
body,
#app {
	height: 100%;
	margin: 0;
	font-family: "Inter", sans-serif;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--secondary);
}

/* scrollbar */
/* tested on chrome, safari, firefox */
* {
	scrollbar-color: var(--contrasting-dim);
	scrollbar-width: thin;
}
*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	background: var(--secondary);
	border-radius: 5px;
}
*::-webkit-scrollbar-thumb:hover {
	background: var(--contrasting-dim);
}
